@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Maven+Pro:600,700&display=swap');

.cards-flex {
    height: 110vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards-icon-users {
    width: 35%;
    margin: 0 auto;
    margin-top: 7px;
    font-family: ;
}

.cards-icon-book {
    width: 32%;
    margin: 0 auto;
    margin-top: 7px;
}

.cards-icon-justice {
    width: 32%;
    margin: 0 auto;
    margin-top: 7px;
}

.card-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}