.footer {
    width: 100vw;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(248, 247, 247, 0.904);
    text-align: center;
    color: rgba(0,0,0,.5);
    margin-top: 6%;
}

.footer a {
    text-decoration: none;
    color: rgba(0,0,0,.5);
}